[submodule "external/eos"]
	path = external/eos
	url = https://github.com/sunil-rival/eos.git
	branch = forkchange
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
